wheel

ipykernel
ipywidgets

# utils
requests
convertdate

scipy
numpy
pandas
pandas-profiling
prophet

# Visualize
japanize_matplotlib
japanmap
plotly

# NLP
janome
spaCy
ja-ginza
gensim
wordcloud
pyLDAvis

# Network
networkx

# Excel
xlrd
